/* make everything border-box */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* give document background color and fullscreen */
body {
  background-color: #fffcf5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* use border for debugging flexbox! */
* {
  /* border: 1px solid rgb(214, 214, 214);  */
  margin: 0;
  padding: 0;
}

.nav-container {
  flex: none;
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: #294627;
  color: white;
}

.nav-bar {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.main-container {
  flex: 1 0 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-container {
  display: flex;
  flex-direction: column;
}

.title {
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-container {
  height: 100px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.interactive-container {
  height: 500px;
  display: flex;
}

.options-container {
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.console {
  width: 150px;
  height: 490px;
  border: 3px solid #294627;
  border-radius: 8px;
  box-shadow: 2px 2px 10px black;
  background-color: #eaf0ea;
  display: flex;
  flex-direction: column;
}

.console-divider {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: center;
}

.button-div {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.size-options {
  flex: 4;
}

.color-options {
  flex: 3;
}

.save-options {
  flex: 2;
}

button {
  height: 25px;
}

button.selected {
  background-color: #294627;
  color: white;
}

.sketch-container {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas {
  height: 490px;
  width: 490px;
  border: 5px solid #294627;
  border-radius: 5px;
  box-shadow: 2px 2px 10px black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.footer-container {
  flex: none;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #294627;
  color: white;
}